main {
  text-align: center;
}

main > div:nth-child(1) {
  padding-top: 150px;
  padding-bottom: 50px;
}

header > div {
  display: inline;
}

header > div + div {
  text-align: right;
}

h1 span {
  font-weight: 700;
}

section {
  padding-top: 20px;
}

section > div {
  display: inline-block;
}

section > div > div {
  padding-inline: 20px;
  padding-block: 10px;
}

button {
  font-size: inherit;
  font-family: inherit;
  background-color: #1d0f3552;
  color: white;
  border-top: 2px outset whitesmoke;
  border-left: 2px outset whitesmoke;
  border-right: 0px transparent;
  border-bottom: 0px transparent;
  border-radius: 50px;
  box-shadow: inset 0px 0px 200px -150px;
  padding: 30px;
  width: 400px;
}

section + div {
  padding-top: 150px;
  letter-spacing: 2px;
}
