.h1_results{
    text-align: center;
    font-weight: 600;
    margin-top: 24px;
    line-height: 1.2;
}
.h3_results{
    text-align: center;
    font-weight: 200;
    font-size: 28px;
    font-family: "Outfit", sans-serif;
    
}
.button_style{
    display: block;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding-inline: 68px;
    padding-block: 16px;
    margin-top: 16px;
    -webkit-box-shadow: 1px 1px 24px 5px rgba(8,96,255,0.2); 
    box-shadow: 1px 1px 24px 5px rgba(8,96,255,0.2);

}
.container_results{
    display: block;
    margin: 0 auto;
    margin-block: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.correct{   
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.results{
    padding-inline: 80px;
    position: relative;
}
.wrong{
    height: 50px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0.7;
}
.perc {
    font-size: 60px;
    font-weight: 600;
    font-family: "Outfit", sans-serif;
}
.WrongCorrect{
    font-size: 60px;
    line-height: 1;
    font-weight: 300;
    font-family: "Outfit", sans-serif;
}
.questions{
    font-size: 22px;
    font-weight: 200;
    font-family: "Outfit", sans-serif;
}
.button_conteiner{
    display: flex;
    justify-content: center;
}
.text{
    position: absolute;
    height: 170px;
    width: 170px;
    text-align: center;
    left: 180px;
    top: 120px;
}
.text p{
    font-size: 12px;
    margin-top: 20px;
    font-weight: 200;
    line-height: 1.4em;
}
.text h5{
    font-size: 16px;
    font-weight: 550;
}
.test_cyan{
    color:#00FFFF;
}
